Project/webservice/src/main/resources/static/ws/CKInfoServicePortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="arg0" nillable="true" type="xs:string"/>

  <xs:element name="arg1" nillable="true" type="xs:string"/>

  <xs:element name="arg2" nillable="true" type="xs:string"/>

  <xs:element name="in0" nillable="true" type="xs:string"/>

  <xs:element name="in1" nillable="true" type="xs:string"/>

  <xs:element name="in2" nillable="true" type="xs:string"/>

  <xs:element name="in3" nillable="true" type="xs:string"/>

  <xs:element name="return" nillable="true" type="xs:string"/>
</xs:schema>

